
* {
  box-sizing: border-box;
  --main-color: hsl(0, 0%, 20%);
  --light-color: hsl(0, 0%, 80%);
  --light-color-hover: hsl(0, 0%, 70%);
  --header-height: 8vh;
}

html {
	margin: 0;
	padding: 0;
	font-size: 1em;
}

body {
	font-family: monospace;
	color: hsl(0, 0%, 80%);
	background-color: hsl(0, 0%, 20%);
}

.header {
	position: fixed;
	top: 0;
	background-color: hsl(2, 60%, 50%);
	height: var(--header-height);
	width: 100vw;
	display: flex;
	align-items: center;
	justify-content: space-between;
  z-index: 500;
}

.header > h2 {
	padding-left: 2vh;
	margin: 0;
}

.hamburger {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding-right: 0.75rem;
	height: 30px;
	width: 50px;
	cursor: pointer;
  z-index: 500;
}

.hbline-hover {
	background-color:hsl(0, 0%, 70%)!important;
}

.lineOne {
	height: 6px;
	background-color: var(--light-color);
}

.lineTwo {
	height: 6px;
	background-color: var(--light-color);
}

.lineThree {
	height: 6px;
	background-color: var(--light-color);
}

.nav.hasNavOpen {
  opacity: 1;
  top: 0;
}

.nav {
  position: fixed;
	padding: 2rem;
  top: -100vh;
  width: 100vw;
  height: 100vh;
  background-color: var(--main-color);
	list-style: none;
  opacity: 0;
  transition: all 0.25s linear;
}

.navItem {
	font-weight: 700;
	cursor: pointer;
	margin-bottom: 2vh;
  width: fit-content;
}

.content {
	display: flex;
	flex-direction: column;
	margin-top: 2vh;
	margin-left: 2vh;
	margin-right: 2vh;
	margin-bottom: 2vh;
}