
* {
  box-sizing: border-box;
  --main-color: hsl(0, 0%, 20%);
  --accent-color: hsl(2, 50%, 50%);
  --nav-color: hsl(0, 0%, 10%);
  --light-color: hsl(0, 0%, 80%);
  --light-color-hover: hsl(0, 0%, 70%);
  --header-height: 8vh;
}

html {
  height: 100vh;
  width: 100vw;
	margin: 0;
	padding: 0;
	font-size: 1em;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

html::-webkit-scrollbar {
  display: none;
}

body {
	font-family: monospace;
	color: var(--light-color);
	background-color: var(--main-color);
}

.header {
  position: fixed;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: var(--header-height);
	width: 100vw;
	top: 0;
	/* background-color: var(--accent-color); */
  z-index: 501;
  transition: top 0.25s linear;
}

.headerHide {
  top: -8vh;
}

.header > h2 {
	padding-left: 2vh;
	margin: 0;
}

.hamburger {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding-right: 0.75rem;
	height: 30px;
	width: 50px;
	cursor: pointer;
  z-index: 500;
}

.hbline-hover {
	background-color:var(--light-color-hover)!important;
}

.lineOne {
	height: 6px;
	background-color: var(--light-color);
}

.lineTwo {
	height: 6px;
	background-color: var(--light-color);
}

.lineThree {
	height: 6px;
	background-color: var(--light-color);
}

@keyframes downArrowAnimation {
  from {bottom: 0;}
  to   {bottom: 6px;}
}

.downArrowContainer {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 20vh;
  width: 100vw;
  z-index: 400;
  animation: downArrowAnimation 0.5s linear infinite alternate;
}

.downArrow {
  height: 40%;
  width: 40%;
}

.nav.hasNavOpen {
  opacity: 1;
  top: 0;
  overflow-y: hidden;
}

.nav {
  position: fixed;
	padding: 2rem;
  padding-top: 12vh;
  width: 100vw;
  height: 100vh;
  top: -100vh;
  background-color: var(--nav-color);
	list-style: none;
  opacity: 0;
  transition: all 0.25s linear;
  z-index: 500;
}

.navItem {
	font-weight: 700;
	cursor: pointer;
	margin-bottom: 2vh;
  width: fit-content;
}

.content {
	display: flex;
	flex-direction: column;
}

.imageShade {
  position: fixed;
  height: 100vh;
  width: 100vw;
  background-color: hsla(0, 0%, 0%, 0.7);
  z-index: 1;
}

.contentImg {
  position: sticky;
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  top: 0;
}

.contentText {
  position: relative;
  height: 50vh;
  width: 300px;
  margin: auto;
  z-index: 2;
  text-align: center;
}

.footer {
  height: 8vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--nav-color);
  z-index: 100;
}

.footerText {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: .8em;
  z-index: 2;
}

.footerlink {
  cursor: pointer;
  text-decoration: none;
  margin-left: 1em;
  color: var(--light-color);
  z-index: 2;
}